nav {
    padding: 32px 0;
    align-items: center;
    max-width: 870px;
    margin: 0 auto;
}
.container {
    max-width: 860px;
    text-align: left;
    margin: 0 auto;

}

ul {
    margin: 0;
}

.title {
    margin-bottom: 40px;
    text-align: center;
}

main {
    margin-bottom: 88px;
}
.main-p {
    margin-bottom: 24px;
    color: #161616;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-align: left;
}
.main-p-color {
    color: #04959E;
}
.main-ol {
    margin: 0 auto;
    padding:0;
    margin-bottom: 40px;
    color: #161616;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.header-nav-li {
    display: inline;
    margin-left: 72px;

}

.header-nav-li a {
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}

.banner {
    margin-bottom: 88px;
    padding: 92px 0;
    margin: 0 auto 88px;
    text-align: center;
    background: #00BDC9;
}

.main-button {
    text-align: center;
}

.btn {
    padding: 10px 24px;
    background: #04959E;
    border: none;
    color: #FFF;
}

footer {
    border-top: 1px solid #161616;

}
.footer-p {
    text-align: center;
}